NODE_ENV= # development or production
JWT_SECRET=
PORT=

# ______Local database______
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=

# ______Minio______
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# ______Auth______
CHECH_AUTHENTICATION= # false/true
APP_KEY=

# ______General Values______
SKU_PROP_TYPE_LIMIT= # Any number
SKU_PROP_VALUE_LETTERS_LIMIT= # Any number

# ______God User______
USER_FIRST_NAME=
USER_LAST_NAME=
USER_PASSWORD=
USER_EMAIL=
USER_PHONE=

# ______Gateway______
ZARINPAL_SANDBOX=true
# ZARINPAL_MERCHANT_ID